<%- include('./partials/head') %>
<%- include('./partials/navbar') %>
<div class="infoBanner">We're sorry to say the API is currently down. We are trying to get the get things working as soon as possible</div>
<!-- Using Bootstrap container for centered content -->
<div class="container mt-5">

    <!-- Adding a Bootstrap class to the header -->
    <h1 class="display-4 text-center">IWWT Projects API</h1>

    <hr> <!-- Horizontal line for separation -->

    <!-- Setup Section -->
    <section>
        <h2 class="mt-4">Setup</h2>
        <p class="lead">The purpose of this API to help new developers learn how to use api, and for my self to display my projects on the <a href="/projects ">projects</a> page.</p>
        <p class="lead">To use the api you can access it though <a href="https://hoppscotch.io/">Hoppscotch</a>, <a href="https://www.postman.com/">Postman</a> or you can <a href="https://expressjs.com/">express</a>.</p>
        <!-- <p class="lead">Please note: the create, edit and delete opions of the api require a password to edit the database.</p> -->
    </section>

    <!-- Endpoints Section -->
    <section>
        <h2 class="mt-4">Endpoints</h2>
        <ul class="list-group">
            <li class="list-group-item">GET all projects:   IWWT.uk/api/all</li>
            <li class="list-group-item">Get one project:    IWWT.uk/api/:id</li>
            <!-- <li class="list-group-item">POST Edit project:  IWWT.uk/projects/:id/edit</li>
            <li class="list-group-item">Delete project:     /projects/:id?_method=DELETE</li> -->
        </ul>
    </section>

</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">Examples</h2>
  
  <div class="row">
  <div class="col-md-6">
      <p class="text-center mt-2">Api All Example</p>
      <img src="images/apiAll.jpg" alt="Description for second image" class="img-fluid">
    </div>

    <div class="col-md-6">
      <p class="text-center mt-2">Api Single Example</p>
      <img src="images/apiSingle.jpg" alt="Description for first image" class="img-fluid">
    </div>
  </div>
</div>


<%- include('./partials/footer') %>