<%- include('./partials/head') %>
<%- include('./partials/navbar') %>
<div class="titleWrapper">
<h1>IWWT.uk</h1>
</div>
<!-- <img src="..." class="img-fluid" alt="..."> -->
<%- include('./partials/footer') %>