<%- include('./partials/head') %>
<%- include('./partials/navbar') %>
<div id="openingHeader">
<h2>Full Stack Web Developer</h2>
<h1>Cameron Jackson</h1>
<p>"Bridging design and functionality from the UK's heart. Let's collaborate to craft something memorable and impactful, rooted in innovation and excellence."</p>
</div>
<div id="openingHeaderShadow"></div>
<div id="walrusWrapper">
    <div class="asciRus">___</div >
    <div class="asciRus">/0 0\</div >
    <div class="asciRus">|[wMw]|</div >
    <div class="asciRus">\|_|/</div >
    <div class="asciRus">| |</div >
</div>

<span class="divider"><div class="dividerDot"></div><div class="dividerDot"></div><div class="dividerLine"></div></span>

<section>
<h3>Who am i?</h3>
</section>

<span class="divider"><div class="dividerLine"></div><div class="dividerDot"></div><div class="dividerDot"></div></span>

<h3>Skills</h3>

<section class="skillsGrid"> <!-- skills grid -->
<img class="gridChild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png" alt="">
<img class="gridChild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/640px-CSS3_logo_and_wordmark.svg.png" alt="">
<img class="gridChild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/640px-JavaScript-logo.png" alt="">
<img class="gridChild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/640px-Bootstrap_logo.svg.png" alt="">
<img class="gridChild" src="https://w7.pngwing.com/pngs/956/695/png-transparent-mongodb-original-wordmark-logo-icon-thumbnail.png" alt="">
<img class="gridChild" src="https://cdn.worldvectorlogo.com/logos/git-bash.svg" alt="">
<img class="gridChild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png" alt="">
<img class="gridChild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/640px-React.svg.png" alt="">
<img class="gridChild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png" alt="">
<!-- <img class="gridChild" src="" alt=""> -->

</section>

<span class="divider"><div class="dividerDot"></div><div class="dividerDot"></div><div class="dividerLine"></div></span>

<h3>Projects</h3>

<span class="divider"><div class="dividerLine"></div><div class="dividerDot"></div><div class="dividerDot"></div></span>

<h3>API page</h3>

<span class="divider"><div class="dividerDot"></div><div class="dividerDot"></div><div class="dividerLine"></div></span>


<%- include('./partials/footer') %>