<%- include('./partials/head') %>
<%- include('./partials/navbar') %>
<div id="openingHeader">
<h2>Full Stack Web Developer</h2>
<h1>Cameron Jackson</h1>
<p>"Bridging design and functionality from the UK's heart. Let's collaborate to craft something memorable and impactful, rooted in innovation and excellence."</p>
</div>
<div id="openingHeaderShadow"></div>
<div id="walrusWrapper">
    <div class="asciRus">___</div >
    <div class="asciRus">/0 0\</div >
    <div class="asciRus">|[wMw]|</div >
    <div class="asciRus">\|_|/</div >
    <div class="asciRus">| |</div >
    </div>
<%- include('./partials/footer') %>