<%- include('./partials/head') %>
<%- include('./partials/navbar') %>
<div class="sidePaddingWrapper">
<h1>Contact</h1>
<div class="textPaddingWrapper">
    <ul>
        <li>Email: Camsjobhunting@gmail.com</li>
        <li>Telegram: +44 7763 403 312</li>
        <li><a href="https://github.com/IronWalrus68">Github</a></li>
        <li><a href="https://twitter.com/IWWTuk">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/cameron-jackson-964a32171/">Linkedin</a></li>
        <li>Discord: IronWalrus68</li>
    </ul>
</div>
    <h2>About Me</h2>
        <p class="textPaddingWrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam temporibus dolorem ex odio deserunt accusantium aperiam, unde expedita voluptatem fugiat, facere sunt adipisci ipsa et magni ipsam exercitationem totam?
        Delectus excepturi recusandae minima aperiam dolor in hic deserunt iste necessitatibus corrupti odio dolorum id praesentium, itaque error soluta? Eius quasi iste id cumque quidem obcaecati exercitationem fugit animi dolorum.
        Ratione numquam provident modi dignissimos deleniti, at eveniet beatae cumque possimus ullam vitae architecto, quidem omnis, adipisci in tempore dolores ex assumenda necessitatibus corrupti nisi doloribus. Deleniti ipsum sed molestiae.</p>
    <h2>Hire Me</h2>
        <p class="textPaddingWrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia beatae accusamus autem quos culpa eius perferendis sunt praesentium ipsa officiis? Nulla totam quos praesentium odio delectus doloremque odit nesciunt perferendis?</p>
</div>
<%- include('./partials/footer') %>