<%- include('./partials/head') %>
    <%- include('./partials/navbar') %>
        <div class="sidePaddingWrapper">
            <h1>Contact</h1>
            <div class="textPaddingWrapper">
                <ul>
                    <li>Email: Camsjobhunting@gmail.com</li>
                    <li>Telegram: +44 7763 403 312</li>
                    <li><a href="https://github.com/IronWalrus68">Github</a></li>
                    <li><a href="https://twitter.com/IWWTuk">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/cameron-jackson-964a32171/">Linkedin</a></li>
                    <li>Discord: IronWalrus68</li>
                </ul>
            </div>
            <h2>About Me</h2>
            <p class="textPaddingWrapper">I'm a web developer from the UK, specialising in the MERN stack. My toolkit includes GitBash, Node.js, and Mongoose. I'm deeply passionate about learning and evolving in this dynamic field. Every challenge presents an opportunity to gain new insights. While I continue my journey to master web development, I tackle each project with unwavering dedication and a keen drive to improve. My ultimate goal? To deliver web solutions that are both functional and user-friendly.</p>
            <h2>Email me!</h2>
            <p>If you're intrested in hiring me or you'd like to get in contact with me please use the email for below
                or use on the other other methods provided.</p>
            <form action="/email" method="post">
                <label for="emailName">Your Name</label>
                <br>
                <input type="text" name="emailName" id="emailName" required>
                <br>
                <label for="emailAddress">Your Email Address</label>
                <br>
                <input type="text" name="honeypot" style="display:none;">
                <input type="email" name="emailAddress" id="emailAddress" required>
                <br>
                <label for="emailContent">Enter your email content here</label>
                <br>
                <textarea id="emailContent" name="emailContent" rows="10" cols="50"
                    placeholder="Write your email content here..." required></textarea>
                <br>
                <button>Send</button>
            </form>
        </div>
        <%- include('./partials/footer') %>