*{
  font-family: 'Poppins' ;
}
body {
    background-color: #707070;
    color: white;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
footer{ /* add some space to the footer so it's not scrunched up */
    margin-top: 5vh;
    padding-top: 2vh;
}
/* css styles that do things */
.sidePaddingWrapper{ /* add's padding either side of the children. used for creating space */
  padding: 0 10vw 0 10vw;
}
.textPaddingWrapper{ /* adds a little padding to the child, creates some space. */
  padding-left: 1vw;
}

  .centerWrapper{/* puts child in the center of the screen ||| use to be called titleWrapper */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .divider{/* line break */
  margin: 1% 0 1% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .dividerDot{
    margin: 0 1% 0 0;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  .dividerLine{
    margin: 0 1% 0 1%;
    width: 90%;
    height: 5px;
    background-color: #000;
    border-radius: 10px;
  }
/* ---------------------------------------------------------------------------------------------------- */

/* project grid container / mobile reshuffle */
.projectGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
}
@media (max-width: 540px) {
  .projectGridContainer {
  grid-template-columns: repeat(2, 1fr);
} }
@media (max-width: 450px) {
  .projectGridContainer {
  grid-template-columns: repeat(1, 1fr);
}  }
/* grid styles */
.pGridItem {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1vw 1vh 1vw;
  min-width: 30vw;
  max-height: 40vh;
}
.pGridItem img{
  /* max-width: 100%; */
  width: 100%;
  min-height: 10rem;
  max-height: 13rem;
  border: 1px solid white;
}
.pGridItem h2{
  text-decoration: underline;
}

/* ---------------------------------------------------------------------------------------------------- */

/* social media logos for nav */
.logo {
  display: inline-block;
  margin-right: 10px;
}
.github-logo,
.twitter-logo,
.linkedin-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.github-logo {
  background-image: url('/images/sociallogos/github.png');
}

.twitter-logo {
  background-image: url('/images/sociallogos/Twitter.png');
}
.linkedin-logo {
  background-image: url('/images/sociallogos/linkedin.png');
}
.widthSet{
  /* this is just to try and fix the display on the home page. make the heigt match top from openingHeaderShadow*/
  height: 3.5rem !important;
}
/* ---------------------------------------------------------------------------------------------------- */

/* homePage banner */

#openingHeader{
  background-color: #221d20;
  color: #ffffff;
  height: 40rem;
  width: 100vw;
  position: relative;
}
#openingHeaderShadow{
  height: 40rem;
  width: 30%;
  position: absolute;
  top: 3.5rem;
  left: 80%;
  background-color: #ff55d4;
}
#openingHeader h2,#openingHeader h1,#openingHeader p{
  position: absolute;
  left: 15%;
}
#openingHeader h1{top: 50%;}
#openingHeader h2{top: 40%;}
#openingHeader p{top: 62%; max-width: 40%;}

/* asci walrus */
#walrusWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 25%;
    /* padding-bottom: 50%; /*as long as this matches the width the height should match the width*/
    /* border: solid pink 2px; */
    border-radius: 300px;
    padding-bottom: 1rem;
    position: absolute;
    top: 10em;
    left: 67%;
    background-color: #221d20;
}

.asciRus {
    font-size: 3rem;
    font-family: monospace;
    position: relative;
    color: white; /* Default text color */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Initial shadow */
    animation: colorChange 3s infinite, shadowRipple 3s infinite;
}

@keyframes colorChange {
    0%, 100% {
        color: white;
    }
    50% {
        color: rgb(255, 0, 212);
    }
}

@keyframes shadowRipple {
    0%, 100% {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    50% {
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
}

/* Delay for each div to make the effect ripple from top-left to bottom-right */
#walrusWrapper .font:nth-child(1) {
    animation-delay: 0s, 0s;
}

#walrusWrapper .font:nth-child(2) {
    animation-delay: 0.2s, 0.2s;
}

#walrusWrapper .font:nth-child(3) {
    animation-delay: 0.4s, 0.4s;
}

#walrusWrapper .font:nth-child(4) {
    animation-delay: 0.6s, 0.6s;
}

#walrusWrapper .font:nth-child(5) {
    animation-delay: 0.8s, 0.8s;
}
/* ---------------------------------------------------------------------------------------------------- */
/* home page content */

