.projectGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
@media (max-width: 540px) {
  .projectGridContainer {
  grid-template-columns: repeat(2, 1fr);
}
} 
.sidePaddingWrapper{
  padding: 0 10vw 0 10vw;
}
.textPaddingWrapper{
  padding-left: 1vw;
}
.pGridItem {
  background-color: #e0e0e0;
  padding: 20px;
}
footer{
    margin-top: 20vh;
    padding-top: 2vh;
}
.center {
  margin: auto;
  width: 50%;
  }
  .titleWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .logo {
  display: inline-block;
  margin-right: 10px;
}

.github-logo,
.twitter-logo,
.linkedin-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.github-logo {
  background-image: url('/images/sociallogos/github.png');
}

.twitter-logo {
  background-image: url('/images/sociallogos/Twitter.png');
}
.linkedin-logo {
  background-image: url('/images/sociallogos/linkedin.png');
}
.pGridItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pGridItem img{
  width: 100%;
  height: 30vh;
}
.pGridItem h2{
  text-decoration: underline;
}